@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@keyframes shadow-inset-br {
  0% {
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: inset -6px -6px 14px -6px rgba(0, 0, 0, 0.5);
  }
}
@keyframes wobble-hor-bottom {
  0%, 100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes color-change-4x {
  0% {
    background: #19dcea;
  }
  33.3333% {
    background: #b22cff;
  }
  66.666% {
    background: #ea2222;
  }
  100% {
    background: #f5be10;
  }
}
body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  height: 735px;
  background-image: url(/asest/img/index-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header__box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid white;
  height: 76px;
}
.header__input {
  border-radius: 20px;
  border: 1px solid #FFF;
  width: 288px;
  height: 41px;
  background-color: transparent;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  padding-left: 32px;
  padding-right: 32px;
}
.header__input::-moz-placeholder {
  color: #fefefe;
}
.header__input::placeholder {
  color: #FFF;
}

.menu {
  display: flex;
  gap: 32px;
}
.menu__link {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
}
.menu__link:hover {
  text-decoration: underline;
}
.menu__mob {
  display: none;
}

.top {
  margin-top: 64px;
}
.top__title {
  max-width: 792px;
  color: #FFF;
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
}
.top__text {
  color: #FFF;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin: 16px 0;
}
.top__link {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
}
.top__link:hover {
  text-decoration-line: none;
}

.interior {
  padding-top: 64px;
}
.interior__title {
  color: #000;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 32px;
}
.interior__box {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
}
.interior__item {
  display: flex;
  height: 415px;
  grid-column: span 4;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 34px;
  font-weight: 600;
  transition: all 1s;
}
.interior__item:hover {
  transform: scale(1.02);
  box-shadow: 0 0 18px #444444;
}
.interior__item-big {
  grid-column: span 6;
}
.interior__item-1 {
  background-image: url(/asest/img/for-1.png);
}
.interior__item-2 {
  background-image: url(/asest/img/for-2.png);
}
.interior__item-3 {
  background-image: url(/asest/img/for-3.png);
}
.interior__item-4 {
  background-image: url(/asest/img/for-4.png);
}
.interior__item-5 {
  background-image: url(/asest/img/for-5.png);
}

.sale__title {
  margin-top: 64px;
  margin-bottom: 32px;
  color: #000;
  font-size: 48px;
  font-weight: 600;
}
.sale__box {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.product {
  margin-top: 64px;
}
.product__title {
  margin-bottom: 32px;
  color: #000;
  font-size: 48px;
  font-weight: 600;
}
.product__box {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  margin-bottom: 32px;
}
.product__item {
  display: flex;
  flex-direction: column;
  width: 378px;
  transition: all 1s;
}
.product__item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px #888;
}
.product__item:hover .product__icon-box {
  display: block;
}
.product__icon-box {
  position: absolute;
  right: 5px;
  top: 25px;
  display: none;
}
.product__icon-item {
  padding-right: 20px;
}
.product__icon-item-vector {
  filter: drop-shadow(1px 0px 3px rgb(4, 0, 255));
}
.product__icon-item-coolicon {
  filter: drop-shadow(1px 0px 3px rgb(172, 14, 159));
}
.product__img {
  width: 379px;
  height: 250px;
}
.product__name {
  margin-top: 10px;
  color: #000;
  font-size: 24px;
  font-weight: 500;
}
.product__text {
  margin-top: 9px;
  color: #888;
  font-size: 14px;
  font-weight: 400;
}
.product__price-box {
  display: flex;
  gap: 32px;
}
.product__price {
  margin-top: 12px;
  color: #050505;
  font-size: 24px;
  font-weight: 500;
}
.product__price-rate {
  color: #888;
  text-decoration-line: line-through;
}
.product__link {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
}
.product__link:hover {
  text-decoration-line: none;
}

.product__img {
  width: 100%;
}

.footer {
  background: #F7F6F6;
  height: 207px;
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  flex-wrap: wrap;
  padding-bottom: 40px;
  padding-top: 32px;
  margin-top: 64px;
}
.footer__logo {
  color: #000;
  font-size: 36px;
  font-weight: 600;
}
.footer__box {
  display: flex;
  flex-wrap: wrap;
  width: 796px;
  justify-content: space-between;
}
.footer__box-icon {
  display: flex;
  gap: 20px;
  align-items: center;
}
.footer__content {
  display: flex;
  gap: 129px;
}
.footer__menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__title {
  color: #000;
  font-size: 24px;
  font-weight: 500;
}
.footer__link {
  color: #888;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}
.footer__link:hover {
  text-decoration-line: underline;
}
.footer__form {
  display: flex;
  flex-direction: column;
  color: #000;
  font-size: 12px;
  font-weight: 400;
  gap: 16px;
}
.footer__text {
  color: #000;
  font-size: 12px;
  font-weight: 400;
}
.footer__input {
  fill: #FFF;
  stroke-width: 1px;
  stroke: #C4C4C4;
  border-radius: 20px;
  border: 1px solid #FFF;
  width: 275px;
  height: 46px;
  font-size: 16px;
  font-weight: 400;
  padding-left: 32px;
  padding-right: 32px;
  margin-bottom: 12px;
}
.footer__input::-moz-placeholder {
  color: #C4C4C4;
  font-size: 15px;
  font-weight: 400;
}
.footer__input::placeholder {
  color: #C4C4C4;
  font-size: 15px;
  font-weight: 400;
}
.footer__button {
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 20px;
  width: 275px;
  height: 46px;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
.footer__button:hover {
  background-color: #15072b;
  color: #F7F6F6;
}

.icon {
  transition: 0.4s;
}

.icon path {
  transition: all 0.5s;
}

.icon:hover {
  scale: 1.2;
}

.icon:hover path {
  fill: #000;
}

.catalog {
  height: 400px;
  background-image: url(/asest/img/catalog_heading.jpg);
}

.header__title {
  color: #FFF;
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  padding-top: 144px;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}
.nav__box {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  display: flex;
  gap: 20px;
}
.nav__link {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}
.nav__link:hover {
  text-decoration-line: underline;
}
.nav__select {
  border-radius: 20px;
  border: 1px solid #C4C4C4;
  width: 288px;
  height: 41px;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding-left: 14px;
  background-image: url(/asest/img/select.svg);
  background-repeat: no-repeat;
  background-position: right 1.5em top 50%;
}

.cart {
  height: 400px;
  background-image: url(/asest/img/cart.jpg);
}

.buy {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 64px;
  gap: 32px;
}
.buy__box {
  grid-column: span 8;
  width: 786px;
}
.buy__crumbs {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
}
.buy__crumbs-text {
  color: #000;
  font-size: 16px;
  font-weight: 400;
}
.buy__item {
  border-top: 0.5px solid #CACDD8;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 25px;
  padding-bottom: 32px;
}
.buy__content {
  display: flex;
  align-items: center;
  gap: 32px;
}
.buy__top {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.buy__main {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.buy__name {
  color: #000;
  font-size: 24px;
  font-weight: 500;
}
.buy__text {
  color: #888;
  font-size: 14px;
  font-weight: 400;
  width: 276px;
}
.buy__prise {
  color: #050505;
  font-size: 16px;
  font-weight: 500;
}
.buy__link {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  text-decoration-line: underline;
}
.buy__link:hover {
  color: #888;
  text-decoration-line: none;
}
.buy__link-box {
  gap: 30px;
  display: flex;
}
.buy__input-number {
  border-radius: 6px;
  background: #F7F6F6;
  width: 71px;
  text-align: center;
  height: 51px;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #F7F6F6;
}
.buy__botton {
  display: flex;
  gap: 7px;
}
.buy__botton-item {
  border-radius: 50px;
  padding: 10px 34px 10px 33px;
  border: 1px solid #000;
  color: #020202;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  margin-top: 50px;
  background-color: transparent;
  animation: shadow-inset-br 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.buy__botton-item:hover {
  background-color: #15072b;
  color: #F7F6F6;
}
.buy__botton-item:active {
  position: relative;
  top: 1px;
}

.form {
  border-radius: 20px;
  background: #F7F6F6;
  height: 556px;
  width: 379px;
  grid-column: span 4;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 42px;
}
.form__heiding {
  color: #000;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
}
.form__box {
  display: flex;
  flex-direction: column;
  gap: 44px;
  padding-top: 35px;
}
.form__item {
  outline: none;
  width: 288px;
  border: none;
  border-bottom: 1px solid #CACDD8;
  background: #F7F6F6;
}
.form__item::-moz-placeholder {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}
.form__item::placeholder {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}
.form__result-box {
  padding-top: 64px;
  padding-bottom: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.form__total {
  color: #000;
  font-size: 24px;
  font-weight: 400;
}
.form__total strong {
  font-weight: 500;
}
.form__button {
  width: 290px;
  height: 41px;
  padding: 10px 63px 11px 90px;
  border-radius: 20px;
  border: 1px solid #040404;
  align-items: center;
  display: flex;
  background: #F7F6F6;
  animation: color-change-4x 20s linear infinite alternate both;
}
.form__button:hover {
  animation: wobble-hor-bottom 0.8s both;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .interior__item {
    height: 268px;
  }
  .sale__box {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 39px;
  }
  .product__box {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 39px;
  }
  .footer__logo {
    display: none;
  }
  .buy {
    grid-template-columns: repeat(8, 1fr);
    row-gap: 64px;
  }
}
@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .sale {
    width: 345px;
  }
  .product {
    width: 345px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    padding-top: 32px;
  }
  .header__box {
    border-bottom: none;
  }
  .header__logo-img {
    width: 99px;
  }
  .header__input {
    display: none;
  }
  .menu__link {
    display: none;
  }
  .menu__mob {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top__title {
    font-size: 48px;
    text-align: center;
    font-weight: 600;
    line-height: 59px;
  }
  .top__text {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
  }
  .top__link {
    font-size: 14px;
  }
  .interior__title {
    font-size: 24px;
  }
  .interior__box {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .interior__item {
    grid-column: 1/-1;
    height: 375px;
    font-size: 28px;
    line-height: 34px;
  }
  .interior__item-big {
    height: 244px;
  }
  .sale__box {
    gap: 32px;
  }
  .sale__title {
    font-size: 24px;
    margin-top: 32px;
  }
  .product {
    gap: 32px;
  }
  .product__title {
    font-size: 24px;
  }
  .product__name {
    font-size: 18px;
    padding-top: 9px;
    padding-bottom: 4px;
  }
  .product__price {
    padding-top: 8px;
    font-size: 18px;
  }
  .nav {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 32px;
  }
  .nav__link {
    font-size: 14px;
  }
  .buy {
    grid-template-columns: repeat(4, 1fr);
  }
  .buy__box {
    grid-column: span 4;
    width: 343px;
  }
  .buy__crumbs {
    display: none;
  }
  .buy__item {
    display: flex;
    justify-content: flex-start;
    -moz-column-gap: 19px;
         column-gap: 19px;
  }
  .buy__img {
    display: none;
  }
  .buy__text {
    font-size: 12px;
    width: 253px;
  }
  .buy__botton {
    display: flex;
    gap: 14px;
  }
  .buy__botton-item {
    font-size: 12px;
    padding: 11px 27px 11px 25px;
  }
  .buy__form {
    width: 343px;
  }
  .footer {
    height: 364px;
    display: flex;
    flex-wrap: wrap;
  }
  .footer__box {
    gap: 34px;
    justify-content: center;
  }
}/*# sourceMappingURL=slyle.css.map */